.container {
    width: 1280px;
    margin: 0 auto;
}

.menu {
    margin: 32px 371px 35px 332px;
}

.link1,
.link2,
.link3,
.link4 {
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #16a085;
}

.link1 {
    margin-right: 65px;
}

.link2 {
    margin-right: 70px;
}

.link3 {
    margin-right: 78px;
}

.article {
    background-color: #f5f6f7;
    padding-bottom: 94px;
}

.article-title {
    padding: 56px 0 34px 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 900;
}

.article-text {
    margin: 0 108px 0 113px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 41px;
}

.article-button {
    width: 192px;
    height: 51px;
    display: block;
    margin: 0 auto;
    background-color: #16a085;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 900;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

.footer-text {
    margin: 47px 104px 45px;
    text-align: right;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}